#ajax-spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	padding: 15px;
	border: 2px solid #CCC;
	z-index: 10000;
	
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
}