#ajax-spinner {
	position:fixed; 
	left: 50%; 
	top: 50%;
	margin: -15px 0 0 -15px; 
	background: white url('../images/ajax-loader.gif') no-repeat 50% 50%; 
	padding: 13px; 
	border: 2px solid #CCC;
	z-index: 10000;
}