* {
	padding: 0px;
	margin: 0px;
}

body {
	font: 80%/1.4 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background: #fff url('../images/logo.gif') no-repeat 98% 10px;
}

h1 {
	font-size: 190%;
	margin-top: 20px;
	margin-bottom: 60px;
	color: #165ca3;
}

h2 {
	font-size: 150%;
	color: black;
	margin-bottom: 10px;
}

a {
	color: #0000CC;
}

hr {
	border: 2px solid #C6DBFF;
}

a[href ^="error:"] {
	background: red !important;
	color: white !important;
}

ul,li {
	list-style-image: none;
	list-style-type: none;
}
hr, br {
	clear: both;	
}
body {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #000000;
	margin: 5px 5px 0px 10px;
}

table {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

form fieldset {
	margin: 5px;
	padding: 8px;
}

form {
	/*background-color: white;*/
	clear: both;
	padding: 5px;
}

pre.debug span {
	color: blue
}

#flashes {
	clear: both;
	float: none;
	margin: 0 5px 10px;
	position: relative;
}

.selected {
	background-color: #c6dbff;
	padding-top: 4px !important;
	padding-bottom: 3px !important;
}

#mainframe {
	background-color: #e7efff;
	min-height: 250px;
	padding: 10px;
	clear: both;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
}
#mainframe-cover {
	background-color: #C6DBFF;
	padding: 10px;
	margin-bottom: 10px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
	float: left;
	min-width: 500px;
}

div.toolbar {
	background-color: #c6dbff;
	display: block;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	float: none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
}

div.toolbar ul {
	list-style-position: outside;
	list-style-type: none;
	padding: 3px;
}

div.toolbar a {
	list-style-position: outside;
	list-style-type: none;
	padding: 2px;
}

div.toolbar a img {
	border: 1px solid #cccccc;
}


/* datagrid snippets */
div[id $="__grid"] {
	float: left;
}


/************ info boxy ~ flash zpravy ******************/
.flash, .info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 5px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    /*font-family:Arial, Helvetica, sans-serif;*/ 
    font-size: 13px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
	opacity: 0.9;
	border: none !important;

}
.info {
    color: #00529B;
    background-color: #C6DBFF;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/warning.png');
}



/***************** jQuery UI customize ***************/
.ui-widget {
	font-family: Arial,sans-serif !important;
	font-size: 1em;
}

.ui-datepicker {
	font-size: 80% !important;
	z-index: 2005;
}

input.datepicker {
	background: white url('../images/calendar.gif') no-repeat right;
	border: 1px solid #ccc;
	padding: 0;
	padding-right: 26px;
}

/* Fonts */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: inherit; font-size: 1em; }







/**************** Icons *****************/
span.icon {
	float: left;
	margin: 1px 4px;
}
.icon {
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.icon-add {
	background-image: url('../images/icons/page_add.png');
}
.icon-edit {
	background-image: url('../images/icons/page_edit.png');
}
.icon-del {
	background-image: url('../images/icons/page_delete.png');
}
.icon-copy {
	background-image: url('../images/icons/page_copy.png');
}
.icon-save {
	background-image: url('../images/icons/page_save.png');
}
.icon-detail {
	background-image: url('../images/icons/page_detail.png');
}
.icon-print {
	background-image: url('../images/icons/printer.png');
}
.icon-bin {
	background-image: url('../images/icons/bin_closed.png');
}
.icon-find {
	background-image: url('../images/icons/find.png');
}
.icon-refresh, .icon-invert {
	background-image: url('../images/icons/arrow_refresh.png');
}
.icon-invert, .icon-find {
	cursor: pointer;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0 !important;
}
.icon-shipped, .icon-resolved, .icon-cancelled, 
.icon-no-orders, .icon-invert, .icon-find {
	float: none !important
}
.icon-shipped {
	background-image: url('../images/icons/cart_go.png');
}
.icon-resolved {
	background-image: url('../images/icons/flag_green.png');
}
.icon-cancelled {
	background-image: url('../images/icons/flag_red.png');
}
.icon-no-orders {
	background-image: url('../images/icons/box.png');
}
